@charset 'UTF-8';

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  transition: opacity 0.3s ease;
}

h1:hover {
  opacity: 0.7;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

/* Main */

.keyvisual img {
  width: 100%;
  height: auto;
}

section {
  padding: 40px 0;
}

.section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.section-title span {
  display: inline-block;
  border-bottom: 2px solid #333;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: max-content;
  margin: 0 auto;
}

name {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.bycycle-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bycycle-item {
  text-align: center;
}

.bycycle-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.bycycle-text {
  margin-top: 10px;
}

/* Footer */
.copyright {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #666;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .keyvisual img {
    height: 70svh;
    object-fit: cover;
  }
  .profile {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .bycycle-list {
    flex-direction: column;
    gap: 40px;
  }
}
